@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  background: #EDF3F8;
  font-family: "DM Serif Display", serif;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1155px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main_header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  align-items: center;
}

.header_logo {
  width: 135px;
  height: 38px;
  flex-shrink: 0;
}

.header_logo__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_header__list {
  display: flex;
}

.main_header__nav {
  margin-left: 64px;
}

.main_header__item:not(:first-child) {
  margin-left: 40px;
  text-align: center;
  align-items: center;
}

.main_header__link {
  color: #36536B;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.6999999881;
  padding-left: 40px;
}

.link1 {
  padding-left: 60px;
}

.main_header__btn {
  color: #FBFCFE;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  width: 173px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 14px 25px;
}

.main_header__menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/hero_burger.svg);
  border: none;
  display: none;
}

@media screen and (max-width: 951px) {
  .main_header__btn {
    margin-right: 20px;
  }
  .main_header__link {
    padding-left: 20px;
  }
  .link1 {
    padding-right: 30px;
  }
}
@media screen and (max-width: 472px) {
  .main_header__btn,
  .main_header__nav {
    display: none;
  }
  .main_header__menu {
    display: block;
  }
}
.hero_container {
  display: flex;
  justify-content: space-between;
}

.hero_info {
  padding-top: 132px;
}

.hero_input__block {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.hero__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  /* 100% */
  letter-spacing: -0.554px;
  max-width: 546px;
  height: 243px;
  padding-bottom: 10px;
}

.hero__text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  padding-top: 16px;
}

.hero__img {
  max-width: 463px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  fill: #213648;
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
  padding-bottom: 75px;
}

.hero__input {
  max-width: 445px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

@media screen and (max-width: 951px) {
  .hero_container {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_picture {
    margin-left: 280px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.369px;
    margin-bottom: 10px;
    max-width: 546px;
    max-height: 243px;
  }
  .hero_info {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero_input__block {
    align-items: center;
  }
  .hero__input {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: auto;
  }
  .hero__img {
    max-width: 259px;
    max-width: 100%;
    height: 300px;
    flex-shrink: 0;
    padding-bottom: 1px;
    margin-left: 70px;
  }
}
@media screen and (max-width: 951px) and (max-width: 757px) {
  .hero_picture {
    margin-left: 150px;
  }
}
@media screen and (max-width: 951px) and (max-width: 472px) {
  .hero_picture {
    margin-left: 50px;
  }
  .hero__title {
    padding-left: 24px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 951px) and (max-width: 360px) {
  .hero_picture {
    margin-left: 21px;
  }
  .hero__input {
    margin-left: 200px;
  }
  .hero__title {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.246px;
    max-width: 327px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .hero__input {
    margin-left: 90px;
  }
}
.work {
  background: #1B262F;
  background-image: url(../../img/hero_back.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.work_container {
  display: flex;
  justify-content: space-between;
}

.work__title {
  padding-top: 100px;
  color: #FBFCFE;
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
  width: 445px;
}

.work__text {
  color: #FBFCFE;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  width: 445px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.work__logo {
  align-items: center;
  padding-top: 190px;
}

.work_logo__block {
  align-items: center;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.work_l1 {
  max-width: 117px;
  height: 15px;
  flex-shrink: 0;
  width: 100%;
}

.work_l2 {
  max-width: 130px;
  height: 26px;
  flex-shrink: 0;
}

.work_l3 {
  max-width: 125px;
  height: 22px;
  flex-shrink: 0;
}

.work_l4 {
  max-width: 118px;
  height: 14px;
  flex-shrink: 0;
}

.work_l5 {
  max-width: 79px;
  height: 27px;
  flex-shrink: 0;
}

.work_l6 {
  max-width: 113px;
  height: 22px;
  flex-shrink: 0;
}

.w_logo1 {
  padding-left: 60px;
  padding-bottom: 45px;
}

.first_logos {
  align-items: center;
  display: flex;
  padding-top: 90px;
}

.second_logos {
  align-items: center;
  display: flex;
}

.third_logos {
  align-items: center;
  display: flex;
}

.work__btn {
  color: #FBFCFE;
  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  border-radius: 24px;
  border: 1px solid #FBFCFE;
  width: 129px;
  height: 48px;
  flex-shrink: 0;
  padding: 16px 32px;
  margin-bottom: 100px;
}

@media screen and (max-width: 920px) {
  .work_container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .work__text {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .work__title {
    max-width: 327px;
    color: #FBFCFE;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.246px;
    align-items: center;
    padding-top: 50px;
  }
  .w_logo1 {
    padding-left: 30px;
    padding-bottom: 40px;
  }
  .work__text {
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    max-width: 327px;
  }
  .work__logo {
    display: none;
  }
  .work_logo__block {
    display: block;
    align-items: center;
    padding-right: 30px;
  }
  .w_logo1-6 {
    padding-left: 70px;
  }
}
.implement_container {
  display: flex;
}

.implement__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -0.369px;
  width: 445px;
  padding-top: 120px;
  padding-bottom: 24px;
}

.implement__img {
  flex-shrink: 0;
}

.implement__text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 186.667% */
  width: 445px;
}

.sample_container {
  display: flex;
  justify-content: space-between;
}

.sample__box1 {
  padding-right: 110px;
}

.sample__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -0.369px;
  width: 445px;
  padding-top: 150px;
}

.sample__text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  width: 445px;
  padding-top: 24px;
}

.img1 {
  width: 263px;
  height: 500px;
  flex-shrink: 0;
}

.img2 {
  width: 263px;
  height: 500px;
  flex-shrink: 0;
}

.sample__imgs {
  display: flex;
}

@media screen and (max-width: 768px) {
  .implement_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .implement__box_1 {
    padding-top: 20px;
    align-items: center;
  }
  .implement__title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
  }
  .implement__text {
    color: #6C8294;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    max-width: 573px;
  }
  .sample__title {
    margin-bottom: 20px;
  }
  .sample_container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  .implement__text {
    color: #6C8294;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    max-width: 328px;
    align-items: center;
    text-align: center;
    padding-left: 15px;
  }
  .implement__title {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
    letter-spacing: -0.277px;
    max-width: 327px;
    padding-top: 5px;
  }
  .implement__box_1 {
    align-items: center;
  }
  .sample__box1 {
    align-items: center;
  }
  .img1 {
    padding-left: 10px;
    max-width: 152px;
    height: 290px;
    flex-shrink: 0;
  }
  .img2 {
    width: 152px;
    height: 290px;
    flex-shrink: 0;
  }
  .sample__title {
    color: #36536B;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
    letter-spacing: -0.277px;
    max-width: 327px;
    padding-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .sample__text {
    width: 328px;
    color: #6C8294;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 80px;
  }
  .sample__box1 {
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
  }
}
.finance_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.finance__title {
  color: #36536B;
  text-align: center;
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: -0.138px;
  width: 350px;
  padding-top: 20px;
}

.finance__text {
  color: #6C8294;
  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 166.667% */
  letter-spacing: -0.115px;
  width: 350px;
  padding-top: 10px;
}

.finance__img {
  padding-left: 125px;
}

.finance__box {
  margin-left: auto;
  margin-right: auto;
}

.start__title {
  color: #36536B;
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
  width: 445px;
}

.start_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 90px;
}

@media screen and (max-width: 850px) {
  .finance_container {
    flex-direction: column;
  }
  .start__title {
    padding-top: 10px;
  }
  .start_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .finance__box {
    padding-bottom: 40px;
  }
}
.footer {
  background: #1B262F;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer_logo__block {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
}

@media screen and (max-width: 560px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer_logo__block {
    flex-direction: column;
    align-items: center;
  }
  .footer__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__icon {
    padding-top: 40px;
  }
  .footer__item {
    margin: 0;
    padding: 0;
    padding-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */