.finance_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.finance__title {
    color: #36536B;
    text-align: center;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: -0.138px;
    width: 350px;
    padding-top: 20px;
}

.finance__text {
    color: #6C8294;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: -0.115px;
    width: 350px;
    padding-top: 10px;
}

.finance__img {
    padding-left: 125px;
}

.finance__box {
    margin-left: auto;
    margin-right: auto;
}
.start__title{
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.369px;
    width: 445px;
}
.start_container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 90px;
}
@media screen and (max-width:850px){
 .finance_container{
    flex-direction: column;
 }
 .start__title{
    padding-top: 100px;
 }
 .start_container{
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 
}
