.hero_container {
    display: flex;
    justify-content: space-between;
}

.hero_info {
    padding-top: 132px;

}
.hero_input__block{
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.hero__title {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 100% */
    letter-spacing: -0.554px;
    max-width: 546px;
    height: 243px;
    padding-bottom: 10px;
}

.hero__text {
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    padding-top: 16px;
}

// .hero {
//      background-image: url(../../img/hero_back.svg);
//      background-repeat: no-repeat;
//      background-position: right top;
//     }


.hero__img {
    max-width: 463px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    fill: #213648;
    filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.30));
    padding-bottom: 75px;
}

.hero__input {
    max-width: 445px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
@media screen and (max-width:951px) {
    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero_picture{
        margin-left: 280px;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .hero__title{
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 116.667% */
        letter-spacing: -0.369px;
        margin-bottom: 10px;
        max-width: 546px;
        max-height: 243px;
    }
    .hero_info{
        align-items: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hero_input__block{
        align-items: center;
    }
    .hero__input{
        margin-top: 20px;
        margin-left: 200px;
        margin-right: auto;
    }
    .hero__img{
        max-width: 259px;
        max-width: 100%;
        height: 300px;
        flex-shrink: 0;
        padding-bottom: 1px;
        margin-left: 70px;
    }
    @media screen and (max-width:757px) {
        .hero_picture{
            margin-left: 150px;
        }
    }
    @media screen and (max-width:472px) {
        .hero_picture{
            margin-left: 50px;
        }
        .hero__title{
            padding-left: 24px;
            margin-left: 10px;
        }
    }

    @media screen and (max-width:360px) {
       .hero_picture{
        margin-left: 21px;
       }
        .hero__input{
        margin-left: 200px;
       }
        .hero__title{
            color: #36536B;
            text-align: center;
            font-family: DM Serif Display;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; /* 112.5% */
            letter-spacing: -0.246px;
            max-width: 327px;
            padding-left: 10px;
            margin-left: 10px;
        }
        .hero__input{
            margin-left: 90px;
        }
        
    }
}