.implement_container {
    display: flex;

}
// .implement{
//     background-image: url(../../img/hero_back.svg);
//     background-repeat: no-repeat;
//     background-position: right bottom;
// }

.implement__title {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    width: 445px;
    padding-top: 120px;
    padding-bottom: 24px;

}

.implement__img {
    // width: 445px;
    // height: 284px;
    flex-shrink: 0;
    
}

.implement__text {
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    width: 445px;
}
.sample_container{
    display: flex;
    justify-content: space-between;
    
}
.sample__box1{
    padding-right: 110px;

}
.sample__title {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    width: 445px;
    padding-top: 150px;
}
.sample__text{
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    width: 445px;
    padding-top: 24px;
}
.img1{
    width: 263px;
height: 500px;
flex-shrink: 0;
}
.img2{
    width: 263px;
height: 500px;
flex-shrink: 0;
}
.sample__imgs{
    display: flex;
}
@media screen and (max-width:1050px){
    .implement_container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .implement__box_1{
        padding-top: 20px;
        align-items: center;
    }
    .implement__title{
        margin-left: auto;
        margin-right: auto;
    }
    .implement__text{
        color: #6C8294;
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 573px;
    }
    .sample_container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:600px){

    .implement__text{
        color: #6C8294;
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 573px;
        align-items: center;
        text-align: center;
        margin-left: 80px;
    }
    .implement__box_1{
        align-items: center;

    }
    .sample__box1{
        align-items: center;
    }
}