.implement_container {
    display: flex;

}
// .implement{
//     background-image: url(../../img/hero_back.svg);
//     background-repeat: no-repeat;
//     background-position: right bottom;
// }

.implement__title {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    width: 445px;
    padding-top: 120px;
    padding-bottom: 24px;

}

.implement__img {
    // width: 445px;
    // height: 284px;
    flex-shrink: 0;
    
}

.implement__text {
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    width: 445px;
}
.sample_container{
    display: flex;
    justify-content: space-between;
    
}
.sample__box1{
    padding-right: 110px;

}
.sample__title {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    width: 445px;
    padding-top: 150px;
}
.sample__text{
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    width: 445px;
    padding-top: 24px;
}
.img1{
    width: 263px;
height: 500px;
flex-shrink: 0;
}
.img2{
    width: 263px;
height: 500px;
flex-shrink: 0;
}
.sample__imgs{
    display: flex;
}
@media screen and (max-width:768px){
    .implement_container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .implement__box_1{
        padding-top: 20px;
        align-items: center;
    }
    .implement__title{
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
    }
    .implement__text{
        color: #6C8294;
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 573px;
    }
    .sample__title{
        margin-bottom: 20px;
    }
    .sample_container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:360px){
    .implement__text{
        color: #6C8294;
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        width: 328px;
        align-items: center;
        text-align: center;
        padding-left: 15px;
    }
    .implement__title{
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 100% */
        letter-spacing: -0.277px;
        width: 327px;
        padding-top: 5px;
    }
    .implement__box_1{
        align-items: center;

    }
    .sample__box1{
        align-items: center;
    }
    .img1{
        padding-left: 10px;
        width: 152px;
        height: 290px;
        flex-shrink: 0;
    }
    .img2{
        // display: none;
        width: 152px;
        height: 290px;
        flex-shrink: 0;
    }
    .sample__title{
        color: #36536B;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 100% */
        letter-spacing: -0.277px;
        width: 327px;
        padding-top: 10px;
        padding-left: auto;
        padding-right: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    .sample__text{
        width: 328px;
        color: #6C8294;
        text-align: center;
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 186.667% */
        padding-left: auto;
        padding-right: auto;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 80px;
    }
    .sample__box1{
        align-items: center;
        padding-left: 10px;
        padding-right: 5px;
    }
}